[submodule "third_party/tree-sitter-hcl"]
	path = third_party/tree-sitter-hcl
	url = git@github.com:lmt-swallow/tree-sitter-hcl.git
[submodule "third_party/tree-sitter-hcl-query"]
	path = third_party/tree-sitter-hcl-query
	url = git@github.com:flatt-jp/tree-sitter-hcl-query.git
[submodule "third_party/tree-sitter-go"]
	path = third_party/tree-sitter-go
	url = git@github.com:tree-sitter/tree-sitter-go.git
[submodule "third_party/tree-sitter-go-query"]
	path = third_party/tree-sitter-go-query
	url = git@github.com:flatt-jp/tree-sitter-go-query.git
