[submodule "third_party/tree-sitter-hcl"]
path = third_party/tree-sitter-hcl
url = https://github.com/flatt-security/tree-sitter-hcl
[submodule "third_party/tree-sitter-hcl-query"]
path = third_party/tree-sitter-hcl-query
url = https://github.com/flatt-security/tree-sitter-hcl-query
[submodule "third_party/tree-sitter-go"]
path = third_party/tree-sitter-go
url = https://github.com/tree-sitter/tree-sitter-go
[submodule "third_party/tree-sitter-go-query"]
path = third_party/tree-sitter-go-query
url = https://github.com/flatt-security/tree-sitter-go-query
[submodule "third_party/tree-sitter-dockerfile-query"]
path = third_party/tree-sitter-dockerfile-query
url = https://github.com/flatt-security/tree-sitter-dockerfile-query.git
[submodule "third_party/tree-sitter-dockerfile"]
path = third_party/tree-sitter-dockerfile
url = https://github.com/flatt-security/tree-sitter-dockerfile.git
